#header-nav {
    background-color: #400080;
    border-radius: 0;
    border: 0;
}
.navbar-brand h1 {
    color: #408000;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
#collapsableNav {
    margin-top: 50px;
    color: #408000;
    background-color: #794CA6;
    border: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #408000;
}
.navbar-default .navbar-nav > li > a {
    color: #408000;
}
h3 {
    margin-top: 10px;
}
p {
    height: 750px;
    margin: 10px;
}
.menu-item {
    background-color: #C9B7DB;
    padding: 10px;
    margin: 10px;
}
@media screen and (max-width: 767px) {
    .menu-item {
        margin: 40px;
    }
}
