nav.navbar.navbar-default {
    background-color: #400080;
    border: 0px;
}
.navbar-default a.navbar-brand {
    color: #408000;
}
h3 {
    margin-top: 10px;
}
p {
    height: 750px;
    margin: 10px;
}
.menu-item {
    background-color: #aaa;
    padding: 10px;
    margin: 10px;
}
#collapsableNav {
    margin-top: 50px;
    color: #408000;
    background-color: #794CA6;
}
